<section id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
        <h2 class="text-uppercase">Our Software Features</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </p>
        <p><span><i class="fa fa-mobile"></i></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><i class="fa fa-code"></i>Quis autem velis reprehenderit et quis voluptate velit esse quam.</p>
      </div>
      <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
        <img src="http://www.templatemo.com/templates/templatemo_446_boxer/images/software-img.png" class="img-responsive" alt="feature img">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <img src="http://www.templatemo.com/templates/templatemo_446_boxer/images/software-img.png" class="img-responsive" alt="feature img">
      </div>
      <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <h2 class="text-uppercase">More of Your Software</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </p>
        <p><span><i class="fa fa-mobile"></i></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><i class="fa fa-code"></i>Quis autem velis reprehenderit et quis voluptate velit esse quam.</p>
      </div>
    </div>
  </div>
</section>
