<section id="contact">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <h2 class="text-uppercase">Contact Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
          <address>
            <p><i class="fa fa-map-marker"></i>36 Street Name, City Name, United States</p>
            <p><i class="fa fa-phone"></i> 010-010-0110 or 020-020-0220</p>
            <p><i class="fa fa-envelope-o"></i> info@company.com</p>
          </address>
        </div>
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="contact-form">
            <form action="#" method="post">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="col-md-6">
                <input type="email" class="form-control" placeholder="Email">
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
              <div class="col-md-12">
                <textarea class="form-control" placeholder="Message" rows="4"></textarea>
              </div>
              <div class="col-md-8">
                <input type="submit" class="form-control text-uppercase" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
