<section id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
        <h2 class="text-uppercase">Download Our Software</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
        <button class="btn btn-primary text-uppercase"><i class="fa fa-download"></i> Download</button>
      </div>
      <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
        <img src="http://www.templatemo.com/templates/templatemo_446_boxer/images/software-img.png" class="img-responsive" alt="feature img">
      </div>
    </div>
  </div>
</section>
